/*@media only screen and (max-width: 768px)*/
html {
  margin: 0;
}

body {
  font-family: arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  /*color: gray;*/
}

/*----------------------------------------------------------------*/
/*-------------------------HEADER---------------------------------*/
/*----------------------------------------------------------------*/
header {
  display: inline-block;
  height: 60px;
  border-bottom-color: #9E9E9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-family: arial, sans-serif;
}

#logo img {
  height: 44px;
  width: 120px;
  position: relative;
  padding-top: .4em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-right-color: #9E9E9E;
  border-right-width: 1px;
  border-right-style: solid;

}

.fa.fa-search {
  padding-left: 2.5em;
  color: gray;
}

#search_input input {
  position: relative;
  top: -5px;
  width: 25rem;
  height: 20px;
  font-size: small;
  font-weight: bold;
  border-style: none;
  color: gray;
}

#notification i {
  height: 22px;
  top: 8px;
  padding-left: 2.5em;
}

.fa.fa-bell {
  color: gray;
  padding-left: 2.5em;
  padding-right:  1em;
}

span#account {
  font-size: small;
  padding-top: 2.5em;
  padding-bottom: 0.25em;
  padding-right:  2.5em;
  border-right-color: #9E9E9E;
  border-right-width: 1px;
  border-right-style: solid;
  color: gray;
}

.fa.fa-th {
  color: gray;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 2.5em;
  padding-bottom: 0.3em;
  border-right-color: #9E9E9E;
  border-right-width: 1px;
  border-right-style: solid;
}

#google_plus {
  background-color: #DD4B39;
  padding: 2em 3em 0.25em 3em;
}

.fa.fa-google-plus {
  color: white;
}


/*----------------------------------------------------------------*/
/*---------------------------lEFT---------------------------------*/
/*----------------------------------------------------------------*/

#left_bar {
  top: 1000px;
  height: 616px;
  width: 200px;
  background-color: #2a2f32;
  font-size: small;
  text-decoration: none;
  padding-top: 0px;
  overflow: hidden;
  display:inline-block;
  float: left;
}

#colors {
  overflow: hidden;
  background-color: #3cba54;
  width: 200px;
  height: 5px;
}

.blue {
  padding-left: 51.25px;
  width: 51.25px;
  background-color: #4885ed;
  overflow: hidden;
}

.red{
  padding-left: 51.25px;
  width: 51.25px;
  background-color: #db3236;
  overflow: hidden;
}

.gold{
  padding-left: 51.25px;
  width: 51.25px;
  background-color: #f4c20d;
  overflow: hidden;
}

.types {
  padding-left: 20px;
  padding-top: 2.5em;
}

.filter {
  padding-left: 20px;
}

#left_bar i {
  padding-right: 0.75em;
}

.filter {
  padding-top: 2.5em;
}

.fa.fa-user-o {
  color: white;
}

.fa.fa-map-marker {
  color: white;
}

.fa.fa-clock-o {
  color: white;
}

#left_bar a {
  color: gray;
}

a#selected {
  color: white;
}

p {
  font-size: x-small;
  color: gray;
}

.search_counter {
  padding-top: 16em;
}

#results {
  color: white;
  margin-left: 20px;
  font-size: x-small;
}

#time {
  font-size: x-small;
  padding-left: 2em;
  color: gray;
}

#red {
  height: 5px;
  width:205px;
  padding: -10px;
  background-color: #db3236;
}


/*----------------------------------------------------------------*/
/*---------------------MAIN BODY----------------------------------*/
/*----------------------------------------------------------------*/


.flexcontainer {
  display: flex;
  width: auto;
}

/*----------------------------------------------------------------*/
/*---------------------------CENTER-------------------------------*/
/*----------------------------------------------------------------*/

.center_results {
  float: none;
}

a#result {
  color: #497aa1; /* This is the blue for the hyperlinks */
}

.web {
  margin: 20px 0px;
  padding-bottom: 20px;
  font-size: medium;
  border-bottom-color: #9E9E9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  max-width: 740px;
}

div .center_results {
  display: inline;
  color: #2a2f32;
}

.center_results a {
  color: gray;
}


/*----------------------------------------------------------------*/
/*---------------------------RIGHT--------------------------------*/
/*----------------------------------------------------------------*/

.right_side {
  margin-left: 875px;  /*If I remove this, the images & maps shift left */
}

.images {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom-color: #9E9E9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

#mini {
  padding: .15em;
  /*border-width: 0.2em;
  border-style: solid;
  border-color: #2a2f32;*/
}

.maps {
  padding: 20px 0px;
  margin-bottom: 20px;
  border-bottom-color: #9E9E9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}


/*----------------------------------------------------------------*/
/*---------------------------FOOTER-------------------------------*/
/*----------------------------------------------------------------*/
