/*@media only screen and (max-width: 768px)*/

a {
  text-decoration: none;
  color: gray;
}

body {
  font-family: arial, sans-serif;
}

/*----------------------------------------------------------------*/
/*-------------------------HEADER---------------------------------*/
/*----------------------------------------------------------------*/
header {
  display: inline-block;
  padding: 5px;
  /*background-color: pink;*/
  height: 60px;
  border-bottom-color: #9E9E9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

#logo img {
  height: 44px;
  width: 120px;
  position: relative;
  top: 8px;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-right-color: #9E9E9E;
  border-right-width: 1px;
  border-right-style: solid;
}

.fa.fa-search {
  padding-left: 2.5em;
  color: gray;
}

#search_input input {
  position: relative;
  top: -5px;
  width: 25rem;
  height: 20px;
  font-size: small;
  font-family: arial, sans-serif;
  font-weight: bold;
  border-style: none;
}

#notification i {
  height: 22px;
  top: 8px;
  padding-left: 2.5em;
}

.fa.fa-bell {
  color: gray;
  padding-left: 2.5em;
}

.fa.fa-th {
  color: gray;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-right-color: #9E9E9E;
  border-right-width: 1px;
  border-right-style: solid;
  border-left-color: #9E9E9E;
  border-left-width: 1px;
  border-left-style: solid;
}

#google_plus {
  background-color: #DD4B39;
  padding: 1em 3em 1em 2em;
}

.fa.fa-google-plus {
  color: white;
}

/*----------------------------------------------------------------*/
/*---------------------------lEFT---------------------------------*/
/*----------------------------------------------------------------*/

.left_bar {
  top: 1000px;
  height: 619px;
  width: 205px;
  background-color: #2a2f32;
  font-size: small;
  text-decoration: none;
  padding-top: 100px;
}

.colors #blue {
  /*top: 1000px;*/
  height: 80px;
  width: 51.25px;
  background-color: #4885ed;
}

.colors #red{
  padding-left: 51.25px;
  /*top: 1000px;*/
  height: 80px;
  width: 51.25px;
  background-color: #db3236;
}

.colors #gold{
  padding-left: 102.5px;
  /*top: 1000px;*/
  height: 80px;
  width: 51.25px;
  background-color: #f4c20d;
}

.colors #green{
  padding-left: 153.75px;
  /*top: 1000px;*/
  height: 80px;
  width: 51.25px;
  background-color: #3cba54;
}

.types {
  padding-left: 20px;
}

.filter {
  padding-left: 20px;
}

.left_bar i {
  padding-right: 0.75em;
}

.filter {
  padding-top: 2.5em;
}

.fa.fa-user-o {
  color: white;
}

.fa.fa-map-marker {
  color: white;
}

.fa.fa-clock-o {
  color: white;
}

a #selected {
  color: white;
}

p {
  font-size: small;
  color: gray;
}

.search_counter {
  padding-top: 12em;
}

#results {
  color: white;
  margin-left: 20px;
}

#time {
  font-size: small;
  padding-left: 2em;
}

.red {
  height: 10px;
  width:205px;
  padding: -10px;
  background-color: #db3236;
}

/*----------------------------------------------------------------*/
/*---------------------------CENTER-------------------------------*/
/*----------------------------------------------------------------*/

.center_results {
  margin: 0px 420px 0px 220px;
}

a .center_results {
  color: #0000EE; /* This is the blue for the hyperlinks */
}

.web {
  margin: 20px 0px;
  padding-bottom: 20px;
  font-size: medium;
  border-bottom-color: #9E9E9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

div .center_results {
  display: inline;
  color: #2a2f32;
}


/*----------------------------------------------------------------*/
/*---------------------------RIGHT--------------------------------*/
/*----------------------------------------------------------------*/

div.right_side {
  margin-left: 875px;
}

.images {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom-color: #9E9E9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

#mini {
  padding: 0.1em;
}

.maps {
  padding: 20px 0px;
  margin-bottom: 20px;
  border-bottom-color: #9E9E9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}





/*----------------------------------------------------------------*/
/*---------------------------FOOTER-------------------------------*/
/*----------------------------------------------------------------*/
